In [4]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
# Những năm tổ chức thế vận hội mùa đông:
data['Year'].unique()

array([1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972,
       1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006])

In [5]:
# Những thành phố đã tổ chức thế vận hội mùa đông:
data['City'].unique()

array(['Chamonix', 'St. Moritz', 'Lake Placid', 'Garmisch-Partenkirchen',
       'Oslo', "Cortina d'Ampezzo", 'Squaw Valley', 'Innsbruck',
       'Grenoble', 'Sapporo', 'Sarajevo', 'Calgary', 'Albertville',
       'Lillehammer', 'Nagano', 'Salt Lake City', 'Turin'], dtype=object)

In [42]:
# Thống kê thành tích của USA ở thế vận hội mùa đông:
data[data['NOC']=='USA'].to_csv('DataUSA.csv')
ulr_USA = 'DataUSA.csv'
data1 = pd.read_csv(ulr_USA)
data1.head(1000)

,Unnamed: 0,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,45,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
1,46,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
2,47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
3,48,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
4,84,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...,...
211,2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
212,2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
213,2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
214,2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
215,2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [43]:
# Số huy chương Vàng đoàn thể thao USA đạt được:
data1[(data1['NOC']=='USA')&(data1['Medal']=='Gold')].count()

Unnamed: 0      78
Year            78
City            78
Sport           78
Discipline      78
NOC             78
Event           78
Event gender    78
Medal           78
dtype: int64

In [44]:
# Số huy chương Bạc đoàn thể thao USA đạt được:
data1[(data1['NOC']=='USA')&(data1['Medal']=='Silver')].count()

Unnamed: 0      80
Year            80
City            80
Sport           80
Discipline      80
NOC             80
Event           80
Event gender    80
Medal           80
dtype: int64

In [45]:
# Số huy chương Đồng đoàn thể thao USA đạt được:
data1[(data1['NOC']=='USA')&(data1['Medal']=='Bronze')].count()

Unnamed: 0      58
Year            58
City            58
Sport           58
Discipline      58
NOC             58
Event           58
Event gender    58
Medal           58
dtype: int64

In [46]:
# Đoàn thể thao USA đã tham gia thế vận hội mùa đông vào những năm:
data1['Year'].unique()

array([1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972,
       1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006])

In [47]:
# Đoàn thể thao USA đã tham gia thi đấu ở các bộ môn:
data1['Sport'].unique()

array(['Ice Hockey', 'Skating', 'Skiing', 'Bobsleigh', 'Luge', 'Curling'],
      dtype=object)